@tailwind base; /* Faz o reset de muitos elementos html, por exemplo tira os margin e padding das divs */
@tailwind components; /* */
@tailwind utilities; /* Aplica os estilos correspondentes a cada classe */
